.activitysCard {
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
    top: 25%;
    width: 100%;
    height: auto;
border-radius: 30px;

    border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        background: linear-gradient(to bottom right, #79767815, #c2a3a3a1, rgba(145, 145, 145, 0.295), rgba(243, 243, 243, 0.247));      
    }

.name{
            font-size: 30px;
}

.li {
    list-style: none;
     font-size: 18px;
   }


.Image {
   
    border-radius: 15px;
    width: 400px;
    height: auto; 
}

@media (max-width: 560px) {
    .Image {
        width: 90%;
        height: auto;
    }
    
}