.container{
    height: 80px;
        position: fixed;
        width: 100%;
        top: 10px;
        left: 0;
}
 

.div1 {
     position: relative;
    margin: 5%;
    width: 90%;
    height: auto;

}
.divCountri{
    max-width: 200px;
}
.countries{
     list-style: none;
     width:20px;
    margin: 20px 15px 0px; 
    position:static;
    float: left;
    
     
} 
.ul{
    justify-content: space-evenly;
}  


.li{
    list-style: none;
    justify-content: space-evenly;
font-size: 18px;
      
}
.link{
text-decoration: none;
}
.countries{
position: relative;
margin: 0 auto;
margin-left: 30px;
left: -30%;
}



.buttonVolver {
    height: 45%;
    width: 200px;
    font-size: 20px;
    background: linear-gradient(to bottom right, #797678, #c2a3a3);
   
    border-radius: 30px;
    
        border-top-left-radius: 0;
    cursor: pointer;
    transition: 1.5s;
    margin-right: 3%;
    color: white;
}

.buttonVolver:hover {
    color: black;
}
.buttonDelete {
    height: 45%;
    width: 200px;
    font-size: 20px;
    background: linear-gradient(to bottom right, #797678, #c2a3a3);
   
    border-radius: 30px;
    
        border-top-left-radius: 0;
    cursor: pointer;
    transition: 1.5s;
    margin-right: 3%;
    color: white;

}

.buttonDelete:hover {
    color: black;
}


