.activitysCard {
   margin-left: auto;
   margin-right:auto;
    width: 600px;

    height: 700px;
    font-size: 15px;
    text-align: center;
    color: rgb(54, 100, 153);
    text-decoration: none;
    background-color: transparent;
    border-radius: 1rem;
    border: 3px solid rgb(202, 202, 202);
}

.country{
    text-align: center;
}

.li {
    list-style: none;
  
}


.Image {
    border-radius: 15px;
    background-color: azure;
}

@media (max-width: 560px) {
    .Image {
        width: 90%;
        height: auto;
    }
}