.countriesCard {
    width:100% ;
    
    height:100%;
    font-size: 13px;
    text-align: center;
    color: rgb(54, 100, 153);
    text-decoration: none;
   background-color: transparent;
   border-radius: 1rem;
   
    border: 3px solid rgb(202, 202, 202) ;
}
.li{
        list-style:none;
}
.name{
    justify-content: center;
    text-align: center;
    text-shadow: 10px 9px 5px rgb(0, 0, 0);
}
.conti{
    font-size: 20px;
    color:rgb(104, 1, 1);
    justify-content: center;
    text-align: center;
    text-shadow: 10px 9px 5px rgb(0, 0, 0);
}

.countriesCard:hover {
    opacity: 1;
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.Image {
    border-radius: 15px;
    background-color: azure;
    box-shadow:10px 9px 5px rgb(0, 0, 0) ;
}

@media (max-width: 560px) {
    .Image {
        width: 90%;
        height: auto;
    }
}