.list{
    list-style: none;
    text-align: center;
}

.link{
    display: inline-block;
    margin-block: 2px;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    color: rgb(0, 0, 0);
    text-decoration:underline;
    text-size-adjust:initial;
    font-variant: small-caps;
    text-shadow: 7px 4px 5px rgb(209, 198, 198);
    letter-spacing: 4px;
}
.link::after{
    content: "";
    width: 100px;
    height: 1px;
    background-color: blueviolet;
    border-radius: 4px;
    position: absolute;
    left: 0;    
    bottom: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .25s ease;
    }
    .link:hover::after{
        transform: scaleX(1);
    }
.ulAct{
    list-style: none;
    width: 5px;
    margin: 30px;
     float: left;
    display:flexbox;
    text-align: center;
    text-decoration: none;
    
}
    .div1{
    list-style: none;
    width: 800px;
    height: 350px;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, 240px);
    gap: 4re;
    justify-content: center;
    background-color: none;
    }
    .div2 {
        text-align: center;
        border: 3px solid rgb(28, 129, 124);
        background-color: transparent;
        border-radius: 10%;
        width: 400px;
        height: 700px;
        font-size: 18px;
    
    }

    .title {
        justify-content: center;
        text-align: center;
        text-shadow: 7px 4px 5px rgb(97, 97, 97);
    
    }
    .buttonVolver {
        height: auto;
        width: 300px;
        font-size: 25px;
        background-color: transparent;
       
        line-height: 26px;
        border-radius: 28px;
        border-color: #32c3d6;
        cursor: pointer;
        transition: width 0.2s;
        float: left;
        margin-right: 3%;
        color: rgb(185, 185, 185);
    }
    
    .buttonVolver:hover {
        width: 320px;
        background-color: #0e0a4b;
    }
    .fondodeportada {
        height: auto;
    
        width: 100%;
        /* max-width: max-content; */
        position: absolute;
        top: 0;
        left: 0;
        z-index: -100;
    }