.contariner {
    display: inline-block;
    position: relative;
    width: 100%;
    background-size: contain;
}

.activityscard {
      list-style: none;
        width: 90%;
        display: grid;
        position: absolute;
        top: 25%;
        margin: 0%;
        left: 5%;
        margin-bottom: 5%;
        height: 100%;
        grid-template-columns: repeat(auto-fill, 340px);
    
        justify-content: center;
        object-fit: cover;
        bottom: 0%;

  }

    /* .activitis {
        text-align: center;
        border: 3px solid rgb(28, 129, 124);
        background-color: transparent;
        border-radius: 10%;
        width: 150px;
        height: 200px;

    } */
        .activitis {
            font-size: 13px;
            height: 230px;
            text-align: center;
            border-radius: 1rem;
            background: linear-gradient(to bottom right, #79767815, #c2a3a3a1, rgba(145, 145, 145, 0.295), rgba(243, 243, 243, 0.247));
    
    
            position: relative;
            width: 95%;
            max-width: 300px;
    
            cursor: pointer;
        }
    
        .activitis::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgb(42, 29, 54);
            transform: scale(0);
            transition: all 800ms linear;
            transform-origin: 0 50%;
            z-index: 2;
            opacity: 0.3;
            border-radius: 1rem;
        }
.fondodeportada {
    height: 225%;

    width: 100%;
    /* max-width: max-content; */
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
}

.link {
    text-decoration: none
  
}
.title{
color: rgb(224, 224, 224);
    font-size: 40px;
    /* line-height: 10px; */
    /* float: left;  */
    position: absolute;
    display: flex;
    /* top: 0%; */
    margin: 10px;
    top:0%;
    left: 0%;
    transition: 1.5s;
    font-family: 'Josefin Sans', sans-serif;

}
.h1A{
    color: rgb(219, 219, 219);
    text-decoration:underline;
    text-size-adjust:initial ;
    font-variant: small-caps;
    text-shadow: 7px 4px 5px rgb(209, 198, 198);
    letter-spacing: 4px;
}
.h41{
    color:#dddddd;
    font-size: 15px;
}


.buttonCreate{
    position:absolute;
    top: 1%;
        height: 7%;
        left: 30%;
        width: 200px;
        font-size: 20px;
        background: linear-gradient(to bottom right, #797678, #c2a3a3);
       
        border-radius: 5px;
       
        cursor: pointer;
        transition: 1.5s;
        margin-right: 3%;
        color: white;
}

.buttonCreate:hover {
  color:black;
}
.buttonVolver {
    position: absolute;
        top: 1%;
    height: 7%;
    left:15%;
        width: 200px;
        font-size: 20px;
        background: linear-gradient(to bottom right, #797678, #c2a3a3);
    
        border-radius: 5px;
    
        cursor: pointer;
        transition: 1.5s;
        margin-right: 3%;
        color: white;
}

.buttonVolver:hover {
    color: black;
}

.buttonDe{
    background-color: transparent;
    cursor: pointer;
    border-radius: 15%;
    color: rgb(243, 243, 243);
        width: 100px;
        height: 25px;
        font-size: 20px;
        font-style:initial

}
.buttonDe:hover {
    width: 120px;
    background-color: #6e6e6e;
}



@media (max-width:560px) {
    .activitycard,.buttonCreate,.buttonDe,.buttonVolver,.activitis {
        grid-template-columns: 100%;
    }
}