.buttonHome {
    height: auto;
    width: 300px;
    font-size: 30px;
    background-color: transparent;
    color: rgba(90, 72, 248, 0);
    line-height: 26px;
    border-radius: 28px;
    border-color: #ffffff;
    cursor: pointer;
    transition: width 0.2s;
    float: right;
    margin-right: 3%;
   color: rgb(6, 6, 61);
}

.buttonHome:hover {
    width: 320px;
    background-color: #3cb9cf;
}
.fondodeportada {
    height: 225%;

    width: 100%;
    /* max-width: max-content; */
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
}
.title{
   color: rgb(8, 8, 8);
    justify-content: center;
    display: flex;
text-shadow: 10px 9px 5px rgb(0, 0, 0)
}

.navbar{
list-style: none;
width: 80%;
margin: 2rem auto;
display: flex;
justify-content: center;
align-items: center;

}

.countriescard {
    list-style: none;
    width: 80%;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, 340px);
    /* gap:4re; */
    justify-content: center;
    background-color: none;
}
.link{
    text-decoration: none;
    color:rgb(255, 5, 5);
    font-size: 25px;
}

@media (max-width:560px) {
    .countriescard {
        grid-template-columns: 100%;
    }
}