.contariner {
    display: inline-block;
    position: relative;
    width: 100%;
    background-size: contain;
}

.activityscard {
      list-style: none;
        width: 90%;
        display: grid;
        position: absolute;
        top: 15%;
        margin: 0%;
        left: 5%;
        margin-bottom: 5%;
        height: auto;
        grid-template-columns: repeat(auto-fill, 340px);
    
        justify-content: center;
        object-fit: cover;
        bottom: 0%;

  }

    
        .activitis {
            font-size: 13px;
            height: auto;
            text-align: center;
            background: linear-gradient(to bottom right, #79767815, #c2a3a3a1, rgba(145, 145, 145, 0.295), rgba(243, 243, 243, 0.247));
        border-radius: 30px;
        
            border-top-left-radius: 0;
    
            position: relative;
            width: 95%;
            max-width: 300px;
    
            cursor: pointer;
        }
    
        .activitis::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgb(42, 29, 54);
            transform: scale(0);
            transition: all 800ms linear;
            transform-origin: 0 50%;
            z-index: 2;
            opacity: 0.3;
            border-radius: 1rem;
        }

.link {
    text-decoration: none
  
}
.title{
    position: absolute;
    display: flex;
    margin: 10px;
    top:0%;
    left: 0%;
    color: rgb(224, 224, 224);
    font-size: 40px;
    font-family: 'Josefin Sans', sans-serif;
    transition: 1.5s;
    }
.h1A{
    color: rgb(219, 219, 219);
    text-decoration:underline;
    text-size-adjust:initial ;
    font-variant: small-caps;
    text-shadow: 7px 4px 5px rgb(209, 198, 198);
    letter-spacing: 4px;
}
.h41{
    color:#dddddd;
    font-size: 15px;
}


.buttonCreate{
    position:absolute;
    top: 1%;
    height: 7%;
    margin-left: 30%;
    width: 200px;
    margin-right: 3%;
    background: linear-gradient(to bottom right, #797678, #c2a3a3);
    color: white;
    font-size: 20px;
    border-radius: 30px;
    border-top-left-radius: 0;
    cursor: pointer;
    transition: 1.5s;
        
}

.buttonCreate:hover {
  color:black;
}
.buttonVolver {
    position: absolute;
    top: 1%;
    height: 7%;
    left:15%;
    width: 200px;
    margin-right: 3%;
    font-size: 20px;
    background: linear-gradient(to bottom right, #797678, #c2a3a3);
    color: white;
    border-radius: 30px;
    border-top-left-radius: 0;
    transition: 1.5s;
    cursor: pointer;
     }
    
    .buttonVolver:hover {
        color: black;
    }
    
    .buttonDe{
        position: relative;
        border-radius: 30px;
        /* border-bottom-right-radius: 0; */
        border-top-left-radius: 0;
        background: linear-gradient(to bottom right, #797678, #c2a3a3);
        color: white;
        padding: 7px 13px;
        font-size: 10px;
        font-weight: bold;
        letter-spacing: 2px;
        left: 0%;
        margin-top: 0px;
        cursor: pointer;
        transition: 1.5s;
    box-shadow: -5px 6px 20px 0px rgba(51, 51, 51, 0.4);
}
.buttonDe:hover {
    color:black;
}
@media  (min-width:768px) and (max-width:1023px) {
.buttonCreate {
        position: absolute;
        top: 5%;
        height: 4%;
        margin-left: 25%;
        width: 180px;
        font-size: 20px;
        background: linear-gradient(to bottom right, #797678, #c2a3a3);

        border-radius: 5px;

        cursor: pointer;
        transition: 1.5s;
        margin-right: 3%;
        color: white;
    }

    .buttonVolver {
        position: absolute;
        top: 5%;
        height: 4%;
        left: 13%;
        width: 180px;
        font-size: 20px;
        background: linear-gradient(to bottom right, #797678, #c2a3a3);

        border-radius: 5px;

        cursor: pointer;
        transition: 1.5s;
        margin-right: 3%;
        color: white;
    }
}
@media (max-width:767px) {
.buttonCreate {
        position: absolute;
        top: 5%;
        height: 4%;
        margin-left: 15%;
        width: 180px;
        font-size: 20px;
        background: linear-gradient(to bottom right, #797678, #c2a3a3);

        border-radius: 5px;

        cursor: pointer;
        transition: 1.5s;
        margin-right: 3%;
        color: white;
    }
        .buttonVolver {
            position: absolute;
            top: 5%;
            height: 4%;
            left: 13%;
            width: 180px;
            font-size: 20px;
            background: linear-gradient(to bottom right, #797678, #c2a3a3);
    
            border-radius: 5px;
    
            cursor: pointer;
            transition: 1.5s;
            margin-right: 3%;
            color: white;
        }
}


@media (max-width:560px) {
    .activitycard,.buttonDe,.activitis {
        grid-template-columns: 100%;
    }
        .buttonCreate {
            position: absolute;
            top: 5%;
            height: 4%;
            margin-left: 7%;
            width: 150px;
            font-size: 18px;
            background: linear-gradient(to bottom right, #797678, #c2a3a3);
    
            border-radius: 5px;
    
            cursor: pointer;
            transition: 1.5s;
            margin-right: 3%;
            color: white;
        }
    
        .buttonVolver {
            position: absolute;
            top: 5%;
            height: 4%;
            left: 5%;
            width: 150px;
            font-size: 18px;
            background: linear-gradient(to bottom right, #797678, #c2a3a3);
    
            border-radius: 5px;
    
            cursor: pointer;
            transition: 1.5s;
            margin-right: 3%;
            color: white;
        }
}