.contariner{
    display: inline-block;
        position: relative;
        width: 100%;
        background-size: contain;
}


.header{
     width: 100%;
     /* overflow: hidden; */
     background:rgb(110, 110, 110);
    position: absolute;
    height: 90px;
  left: 0px;
    /* margin:auto; */
    top: 0px;
  
       
} .buttonHome {
      height: auto; 
      width: 290px; 
     font-size: 30px; 
     background-color: transparent; 
     color: rgba(211, 211, 211, 0); 
   /* line-height: 26px;  */
     border-radius: 28px; 
    border-color: #ffffff; 
     cursor: pointer; 
     transition: width 0.2s; 
    /* float: right;  */
     margin-right: 3%; 
    color: rgb(6, 6, 61); 
 } 

 .buttonHome:hover {
    width: 300px;
    background-color: #3cb9cf;
} 

.titulo{
   color: rgb(224, 224, 224);
   font-size: 40px;
   /* line-height: 10px; */
   /* float: left;  */
position: absolute;
display: flex;
/* top: 0%; */
margin: 10px;
  left: -15%;
}


 .search{
    /* display: inline-block; */
    display:list-item;
padding: 10px 20px;
/* line-height: normal; */
position:absolute;
font-size: 20px;
font-weight: bold;
margin: 10px;
margin-left: 18%;
} 
.activity{
padding: 20px 20px;
/* line-height: 40px; */
font-size: 20px;
font-weight: bold;
margin-right: 0;
float: right;

} 

.navBar{
    position: absolute;
    /* position:fixed; */
    
/* right: -150%; */
    top: 3%;
    left:15%;
    padding: 10px 10px;
    color: black;
    background: linear-gradient(to bottom right, #797678, #c2a3a3);
    border-radius: 4px;
    display: flex;
    align-items: center;
}
.navBar :is(select, button) {
    color: inherit;
    border: none;
    background: transparent;
    outline: none;
}
.selection {
    width: 0;
    transition: width .5s;
}

.filterButton{
        width: 10%;
            height: 25%;
            position: relative;
            margin: 0;
            display: flex;
            place-items: center;
            cursor: pointer;
}
.navBar:focus-within select {
    width: 100px;
    /* margin-top: auto; */
}

::placeholder {
    color: inherit;
}

/* .paginado{ */
    /* position: relative; */
    /* justify-content: center; */
   /* margin-top: 10%; */
   /* width: 40px; */
/* } */

.countriescard {
    list-style: none;
    width: 80%;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, 340px); gap:4re; 
    justify-content: center;
    background-color: none;
}
.link{
    text-decoration: none;
    color:rgb(255, 5, 5);
    font-size: 25px;
}

@media  screen and (max-width:560px) {
    .countriescard {
        grid-template-columns: 100%;
    }
    .header{
        width: 100%;
        text-align: center;
        line-height: 100px;
    }
  
}