.portada {

    height: 700px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;
    position: relative;
}

.fondodeportada {
    height: 100vh;
    
    width: 100%;
    /* max-width: max-content; */
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
}

.title{
    color: rgb(255, 255, 255);
    display: grid;
    font-size:300%;
    gap: 40px;
    padding: 70px;
    justify-content: left;
    font-size: 100px;
}

.FrasePresentacion {
    font-size: 30px;
    /* font-weight: bold; */
    color: #FFF;
text-align:left;
margin-left: 5%;
padding: auto;
}

.button{
    height: auto;
    width: 300px;
    font-size: 30px;
    background-color: transparent;
    color: #FFF;
    line-height: 26px;
    border-radius: 28px;
    border-color: #dfdfdf;
    cursor: pointer;
    transition: width 0.2s;
   float:none;
   margin-left: 3%;
   
}

.button:hover {
    width: 320px;
    background-color: #3d4b70;
}








@media (max-width: 560px) {
    .portada,
    .fondodeportada {
        width: 90%;
        height: auto;
    }
}

/* .button {
    -webkit-transition-duration: 0.4s;
    /* Safari */
    /* transition-duration: 0.4s;
    border-radius: 20%;
    
}

.button:hover {
    background-color: #4CAF50;
    /* Green */
    /* color: white; */
/* } */ 
/* .button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
} */ 
