/* .searchContainer {
    display: flex;
    justify-content: center;
} */

.searchBox {
    position: relative;

    padding: 10px;
    color:#eee;
    background: linear-gradient(to bottom right, #797678, #c2a3a3);
    border-radius: 4px;
    display: flex;
    align-items: center;
        transition: 1.5s;
            font-family: 'Josefin Sans', sans-serif;
}

.searchBox :is(input, button){
    color: inherit;
    border:none;
    background: transparent;
    outline: none;
}


.searchImp {
   width: 0;
transition: width .5s;
}

.searchBot {
    width: 25px;
    height: 25px;
    display: grid;
    place-items: center;
    cursor: pointer;
}

.searchBox:focus-within input{
    width: 200px;
}
::placeholder{
    color: inherit;
}

.searchBox:hover {
    color: black;
}




